<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>677527815954-t2qorolm3jqhgd98cmu39ievr63su9qk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677527815954-t2qorolm3jqhgd98cmu39ievr63su9qk</string>
	<key>API_KEY</key>
	<string>AIzaSyA-FvVRiZps4K2A-UhjAXU6gN6V7a06QA0</string>
	<key>GCM_SENDER_ID</key>
	<string>677527815954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.antbry.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-cdb68</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-cdb68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677527815954:ios:1f82e725bf01b1b1f2d5cb</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-cdb68.firebaseio.com</string>
</dict>
</plist>